<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#"><img alt="" class="navbar-logo mr-2" src="https://cdn.pixabay.com/photo/2016/11/19/03/08/youtube-1837872__340.png">Casos misteriosos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Author
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="dropdown-item"><a class="" href="http://miasalazar.com" target="_blank">Portfolio</a></li>
            <li class="dropdown-item"><a class="" href="https://github.com/Mia-Salazar/crud-heroes" target="_blank">Github</a></li>
            <li class="dropdown-item"><a class="" href="https://www.linkedin.com/in/miasalazar/" target="_blank">Linkedin</a></li>
            <li class="dropdown-item"><a class="" href="https://medium.com/@marasalazar" target="_blank">Medium</a></li>
          </div>
        </li>
      </ul>
    </div>
  </nav>
